{% extends 'index.html' %}

{% load bootstrap4 %}
{% bootstrap_css %}

{% load static %}


{% load jdate %}

{% block content %}
    <div class="container" style="font-size: .9em; font-family: 'B Nazanin'">
        <table class="table table-responsive-md table-bordered table-striped table-hover"
               style="direction: rtl; text-align: center;">
            <thead class="thead-light">
            <tr>
                <th scope="col" style="vertical-align: middle;">ردیف</th>
                <th scope="col" style="vertical-align: middle;">نام</th>
                <th scope="col" style="vertical-align: middle;">ایجاد کننده</th>
                <th scope="col" style="vertical-align: middle;">زمان ایجاد</th>
                <th scope="col" style="vertical-align: middle;">زمان اتمام</th>
                <th scope="col" style="vertical-align: middle;">درصد پیشرفت</th>
                <th scope="col" style="vertical-align: middle;">دانلود خروجی</th>
                <th scope="col" style="vertical-align: middle;">نسخه های پشتیبان</th>

            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td style="vertical-align: middle;">{{ forloop.revcounter }}</td>
                    <td style="vertical-align: middle;">{{ item.name }}</td>
                    <td style="vertical-align: middle;">{{ item.starter.get_full_name }}</td>
                    <td style="vertical-align: middle; direction: ltr">{{ item.start|jdate }}</td>
                    <td style="vertical-align: middle; direction: ltr">{{ item.final|jdate }}</td>
                    <td style="vertical-align: middle;">{{ item.percentage }}</td>
                    <td scope="col" style="vertical-align: middle;">
                        <a href="{{ item.download_link }}"
                           class="btn btn-info {% if not item.complete %}disabled{% endif %}">Download</a>
                    </td>
                    <td scope="col" style="vertical-align: middle;">
                        <a href="{{ item.backups_links }}"
                           class="btn btn-warning {% if item.have_backup %}disabled{% endif %}">Backups</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}