<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mofid Crawler</title>
    {% load bootstrap4 %}
    {% bootstrap_css %}

    <style>
        .container {
            font-family: B Mitra;
            font-size: 1.5em;
            margin-top: 50px;
        }

        .link, .link:hover {
            color: black;
            text-decoration: none;
            text-align: right;
        }

        label {
            font-size: .8em;
        }

        .form-group > label {
            font-size: 1em;
            text-align: right;
        }

        .card-header, .card-footer {
            text-align: center;
            direction: rtl;
        }

        .result {
            text-align: center;
            font-size: .9em;
        }

        .starter {
            direction: rtl;
            text-align: right
        }

    </style>

</head>

<body>
<div>
    {% include "Header.html" %}
</div>

{% block content %}
    <div class="container">
        {% if user.is_authenticated and user.has_access %}
            <div class="col-md-12" style="margin-bottom: 50px;">
                {% for item in progress %}
                    <h5>{{ item.name }}</h5>
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                             role="progressbar" aria-valuenow="{{ item.percentage }}" aria-valuemin="0"
                             aria-valuemax="100"
                             style="width: {{ item.percentage }}; font-size: 1.5em; color: greenyellow "> {{ item.percentage }}%
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-sm-12 result">
                    {% if messages %}
                        {% for message in messages %}
                            {% bootstrap_messages message %}
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-sm-12 col-md-5">
                    <div class="card">
                        <div class="card-header">
                            آخرین نتایج
                        </div>
                        <div class="card-body result">
                            <ul class="list-group list-group-flush">
                            {% for item in items %}
                                <li class="list-group-item">
                                    <a href="{{ item.download_link }}">{{ item.name }}</a>
                                </li>
                            {% endfor %}
                            </ul>
                            {#                            {% for item in items %}#}
                            {#                                <span>#}
                            {#                                    <a href="{{ item.download_link }}">{{ item.name }}</a>#}
                            {#                                </span>#}
                            {#                                <hr>#}
                            {#                            {% endfor %}#}
                        </div>
                        <div class="card-footer">
                            <a class="link" href="{% url "download" %}">جهت مشاهده نتایج بیشتر، کلیک نمایید</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="card">
                        <div class="card-header">
                            شروع فرآیند جدید
                        </div>
                        <div class="card-body starter">
                            <form action="" method="post">
                                {% csrf_token %}
                                {% bootstrap_form form layout="horizontal" label_class="col-md-5" field_class="col-md-7" %}
                                <div class="row">
                                    <span class="col-sm-6"><input class="btn btn-block btn-primary" type="submit"
                                                                  name="" value="ادامه"></span>
                                    <span class="col-sm-6"><input class="btn btn-block btn-danger" type="reset" name=""
                                                                  value="تنظیمات پیشفرض"></span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        {% elif user.is_authenticated and not user.has_access %}
            <div style="text-align: center;">شما اجازه دسترسی به این قسمت را ندارید</div>

        {% else %}
            <div class="col-sm-12 col-md-8 offset-md-2"></div>
            <div style="text-align: center;">Please Log in or <a href="{% url "Login" %}">click here</a></div>
        {% endif %}
    </div>
{% endblock %}





{% bootstrap_jquery %}
{% bootstrap_javascript %}

</body>
</html>